.calendar-block{
    display: flex;
    flex-wrap: wrap;

    .month-block{
        flex: 1 0 20%;
        border: 1px solid black;
        text-align: center;


        .week-block{
            display: inline;
        }

    }
}