.calendar-block{
    display: flex;
    flex-wrap: wrap;

    .month-block{
        flex: 1 0 20%;
        border: 1px solid black;
        
        h4{
            text-align: center;
        }
    }
}