<div class="month">
    <div class="week-row">
        <div class="week-col" *ngFor="let week of week">{{week}}</div>            
    </div>
    
    <div class="days-block">
        <div *ngFor="let r of days" class="days-row">
            
                <div class="days-col" *ngIf="r==0">
                        
                    </div>
                <div class="days-col" *ngIf="r!=0">
                    {{r}}
                </div>
            </div>
  </div>
    

    <!-- <div class="row" *ngFor="let r of days; let i = index">
        <div class="col" *ngFor="let d of r; let j = index" (click)="f(d)" [style.background-color]="colors[i][j]">{{d}}</div>
    </div> -->
</div>
