<div class="input">
  <input type="text" [(ngModel)]="textField"> 
</div>  

<div class="buttons">
  <div class="row" *ngFor="let row of digits; let i = index;">
    <button *ngFor="let button of row; let j = index" 
    (click) ="textField = textField + button.toString()">{{button}}</button>
  </div>
  <button (click) ="textField = textField + '.'">.</button>
  <button (click) ="clean()">CE</button>

  <button (click) = "operationClicked('+')">+</button>
  <button (click) = "operationClicked('-')">-</button>
  <button (click) = "operationClicked('/')">/</button>
  <button (click) = "operationClicked('*')">*</button>

  <button (click) = "equalClicked()">=</button>
</div>